h1{
    text-align:center;
    text-transform: capitalize;
    color: brown;
    background: rgb(237, 230, 20);
    border-radius: 30px;
    z-index: 2000;
}
p{
    margin: 0 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(237, 237, 235);
    padding: 1rem;
}
